/** Import Lepton stylesheet (Chrome) *****************************************/
@import url("css/leptonChrome.css");


/** Add your custom styles below **********************************************/

/* Enable option to edit bookmark URLs under Add Bookmark (blue star) menu */
#editBMPanel_locationRow {
visibility: visible !important;
}

/* Disable Email Image/Audio/Video and Set as Desktop Background context menu items */
/*
#context-sendimage,
#context-sendvideo,
#context-sendaudio,
#context-setDesktopBackground {
	display: none !important;
}
*/

#sidebar-box {
	min-width: 8em !important;
	max-width: 36em;
	/*width: 10em !important;*/
}

@media (-moz-gtk-csd-available) {
	/* force window buttons to corner in gtk (ew negative margin) */
	:root[tabsintitlebar]:is([sizemode="maximized"],[sizemode="fullscreen"]) .titlebar-buttonbox {
		-moz-box-align: start !important;
		margin-right: -6px;
	}

	/* squish down titlebar */
	:is(:root[tabsintitlebar]:is([sizemode="maximized"],[sizemode="fullscreen"])) #TabsToolbar, #toolbar-menubar {
		--tab-min-height: 22px;
	}

	/* widen out tabbar buttons so they don't look squished */
	:is(:root[tabsintitlebar]:is([sizemode="maximized"],[sizemode="fullscreen"])) #TabsToolbar .toolbarbutton-1 .toolbarbutton-icon {
		margin-inline: 7px;
	}

	/* force menubar & window buttons to screen top */
	toolbar[type="menubar"] {
		padding: 0 !important;
	}
}
